@model SportsStore.WebUI.Models.InitDbModel
@{
    ViewBag.Title = "Admin: Database options";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Database Options</h3>
    </div>
    <div class="panel-body">
        <p class="lead">Please choose option for a database:</p>
        @using (Html.BeginForm())
        {
            <div class="checkbox">
                <label>
                    @Html.EditorFor(m => m.Initialize)
                    Create new
                </label>
            </div>
            <input type="submit" value="Start" class="btn btn-primary" />
        }
    </div>
</div>